@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="desc_Black_classic roboto">
    <span class="name">Black Classic: <br/>вкус, который заставит вас вернуться!</span>
    <span class="desc">Откройте для себя наш новый черный бургер из мраморной говядины, который покорит вас своим необычным и глубоким вкусом. Мы используем только свежую мраморную говядину, что обеспечивает сочность и невероятную мягкость каждого куска мяса. А соус из свежих брусничных ягод добавляет нежную кислинку, что идеально сочетается с глубоким ароматом мраморной говядины...</span>
    <img class = "home_img" src="~/img/Black_Classic.png"/>
    <button class="more_inf roboto">Подробнее</button>
    <div class="counter roboto">03<b class="counter_curent">/01</b></div>
    <button class="arr_left_right"><img src="~/icons/arr_left.png"/></button>
    <button class="arr_left_right pd50"><img src="~/icons/arr_right.png"/></button>

    <span class="glow_w"></span>
    <span class="glow_o"></span>
    <span class="glow_p"></span>
</div>

