@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="desc_Black_classic roboto">
    <span class="name">Black Classic: <br/>вкус, который заставит вас вернуться!</span>
    <span class="desc">Откройте для себя наш новый черный бургер из мраморной говядины, который покорит вас своим необычным и глубоким вкусом. Мы используем только свежую мраморную говядину, что обеспечивает сочность и невероятную мягкость каждого куска мяса. А соус из свежих брусничных ягод добавляет нежную кислинку, что идеально сочетается с глубоким ароматом мраморной говядины...</span>
    <img class = "home_img" src="~/img/Black_Classic.png"/>
    <button class="more_inf roboto">Подробнее</button>
    <div class="counter roboto">03<b class="counter_curent">/01</b></div>
    <button class="arr_left_right"><img src="~/icons/arr_left.png"/></button>
    <button class="arr_left_right pd50"><img src="~/icons/arr_right.png"/></button>

    <span class="line orange">
        <b class="why">Почему именно мы?</b>
        <b class="tagline">BURGER HUB - JUICY GRUB</b>
    </span>

    <div class="crop line">
        <img class="backgroug line" src="~/img/1670364312_51-kartinkin-net-p-burger-kartinka-vkontakte-52.jpg"/>
    </div>
    <div class="why_grid">
        <div class="glass_box box_why">
            <img class="icon_why" src="~/icons/mdi_food-steak.png"/>
            <p class="why_name">Мясо</p>
            Только <br/><b>отборная</b> <br/>мраморная <br/>говядина
        </div>
        <div class="glass_box box_why">
            <img class="icon_why" src="~/icons/ph_hamburger-fill.png"/>
            <p class="why_name">Конструктор</p>
            Создай сам <br/>свой <br/><b>идеальный</b><br/> бургер
        </div>
        <div class="glass_box box_why">
            <img class="icon_why" src="~/icons/ic_sharp-eco.png"/>
            <p class="why_name">ECO</p>
            <b>Специальное</b> <br/>меню для <br/>веганов
        </div>
    </div>
    <span class="glow_w"></span>
    <span class="glow_o"></span>
    <span class="glow_p"></span>
</div>

