@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="desc_Black_classic">
    <span class="name">Black Classic: <br/>вкус, который заставит вас вернуться!</span>
    <span class="desc">Откройте для себя наш новый черный бургер из мраморной говядины, который покорит вас своим необычным и глубоким вкусом. Мы используем только свежую мраморную говядину, что обеспечивает сочность и невероятную мягкость каждого куска мяса. А соус из свежих брусничных ягод добавляет нежную кислинку, что идеально сочетается с глубоким ароматом мраморной говядины...</span>
    <img class = "home_img" src="~/img/Black_Classic.png"/>
    <span class="glow"></span>
</div>

