@page
@model BurgerHUB.Pages.ProfileModel 
@{
	ViewData["Title"] = "Рады видеть вас, "+Model.ActiveClient.Name;
}

<div class="profile roboto">
	<div class="profile_side">
		<img src="~/icons/settings.png" class="arr_left_right scale profile_up"/>
		<img class="ava" src="@Model.ActiveClient.Avatar"/>
		<b class="profile_name">@Model.ActiveClient.Name</b>
		<div class="profile_rating">
			<b>Ваш рейтинг</b>
			<div class="rating_block">
				@{
					switch(Model.ActiveClient.Raiting) {
						case 1: <b>B</b>; break;
						case 2: <b>A</b>; break;
						case 3: <b>S</b>; break;
						case 4: <b>SS</b>; break;
					}
				}
			</div>
			<img class="about_rating arr_left_right scale" src="~/icons/about.png"/>
		</div>
		<button id="bag" onclick="pages_profile('bag');" class="white_button roboto profile_bt" style="grid-area:bag">Корзина</button>

		<button id="current_order" onclick="pages_profile('current_order');" class="white_button roboto profile_bt" style="grid-area:this_order">Текущий заказ</button>

		<button id="history_order" onclick="pages_profile('history_order');" class="white_button roboto profile_bt" style="grid-area:story_order">История заказов</button>

		<button id="my_burger" onclick="pages_profile('my_burger');" class="white_button roboto profile_bt" style="grid-area:my_burgers">Мои бургеры</button>

	</div>
	<div class="pages_side">

	</div>
</div>
    <span class="glow_w profile1"></span>
    <span class="glow_o profile2"></span>
    <span class="glow_p profile3"></span>
    <span class="glow_p profile4"></span>