/*#region Общие фичи*/
b {
    font-weight: 400;
}

.line {
    width: 112%;
    margin-left: -7%;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.orange {
    background-color: #FF710B;
}

.orange_color {
    color: #FF710B;
}

.glass_box {
    background: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    border-radius: 40px;
}

.mg-b0 {
    margin-bottom: 0;
}

.pd25 {
    padding-left: 25px;
}

.pd50 {
    padding-left: 50px;
}

.Error {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255, 0.20);
    height: 250px;
    width: 500px;
    z-index: 100;
    position: fixed;
    left: calc(50% - 500px/2);
    top: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear, visibility 0s linear 1s;
}

.attention {
    background-color: rgb(203, 60, 60, 0.73);
    transition: .5s linear;
}

.attention_non {
    transition: .5s linear;
}

.Error_text {
    color: rgb(203, 60, 60);
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin: 10px 0 0 0;
}

.Error_desc {
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 400px;
}

.name_zone {
    grid-area: why;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 83.19%;
    width: 458px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.underline, :focus-visible {
    text-decoration: underline;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

/*#region Кнопки*/
.white_button {
    border: 2px solid white;
    grid-area: button;
    background-color: transparent;
    border-radius: 66px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    width: 216px;
    height: 80px;
    margin-top: 30px;
    transition: .3s linear;
}

.white_button:hover{
    background-color: rgb(255, 255, 255, 0.30);
    transition: .3s linear;
    transform: scale(0.95);
}

.white {
    background-color: rgb(255, 255, 255, 0.30);
}

.more_inf {
    grid-area: button;
    background-color: transparent;
    border: 2px solid #FF710B;
    border-radius: 66px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    width: 216px;
    height: 80px;
    margin-top: 30px;
    transition: .3s linear;
}

.more_inf:hover {
    background-color: rgb(255, 113, 11, 0.2);
    transition: .3s linear;
    transform: scale(0.95);
}

.base_button {
    width: 150px;
    height: 50px;
    background: rgba(255, 255, 255, 0.79);
    border-radius: 40px;
    font-weight: 500;
    font-size: 32px;
    color: #4E4E4E;
    transition: .3s linear;
    margin: 10px 0 10px 0;
}

.base_button:hover {
    transform: scale(0.9);
    opacity: 0.6;
    transition: .3s linear;
}

/*#endregion */

.arr_blocked, .scale:hover {
    transform: scale(0.9);
    opacity: 0.6;
    transition: .2s linear;
}

.arr_left_right {
    height: 60px;
    width: 60px;
    transition: .2s linear;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.invis{
    pointer-events: none;
}

.open {
    opacity: 1 !important;
    visibility: visible !important;
    transition-delay: 0s !important;
}
/*#endregion */
