div.home {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px;
    grid-template-areas:
        'burger_name burger_photo'
        'burger_desc burger_photo'
        'button counter'
        'line line'
        'why why'
        'about_delivery about_delivery'
        'about_us about_us';
    align-items: center;
    margin-top: 12%;
}

/*#region Фон*/
span.glow_p {
    grid-area: burger_desc;
    height: 320px;
    width: 320px;
    background-color: #A82E86;
    border-radius: 50%;
    place-items: center;
    filter: blur(200px) opacity(50%);
    z-index: -1;
    margin-top: 300px;
    margin-left: 529px;
}

span.glow_o {
    grid-area: burger_name;
    height: 220px;
    width: 220px;
    background-color: #FF710B;
    border-radius: 50%;
    place-items: center;
    filter: blur(100px) opacity(50%);
    z-index: -1;
}

span.glow_w {
    grid-area: burger_photo;
    height: 420px;
    width: 420px;
    background-color: white;
    border-radius: 50%;
    place-items: center;
    filter: blur(85px) opacity(50%);
    margin-left: 129px;
    z-index:-1;
}

span.delivery1 {
    position: absolute;
    width: 327px;
    height: 244px;
    left: 871px;
    top: 1717px;
    background: rgba(219, 0, 255, 0.56);
}

span.delivery2 {
    position: absolute;
    width: 327px;
    height: 244px;
    left: 871px;
    top: 1717px;
    background: rgba(239, 100, 0, 0.32);
}

span.delivery3 {
    position: absolute;
    width: 635px;
    height: 589px;
    left: 456px;
    top: 1977px;
    background: rgb(161, 255, 0, 0.06);
}
/*#endregion */

/*#region Бургеры*/
span.name {
    grid-area: burger_name;
    font-weight: 500;
    font-size: 64px;
    line-height: 53px;
}

span.desc {
    grid-area: burger_desc;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

img.home_img {
    grid-area: burger_photo;
    height: 722px;
    width: 679px;
    padding-top: 150px;
}

div.counter {
    grid-area: counter;
    font-weight: 900;
    color: #FF710B;
    font-size: 40px;
    margin-left: 60%;
    margin-top: 30px;
}

b.counter_curent {
    grid-area: counter;
    color: white;
    font-size: 64px;
}

button.arr_left_right {
    grid-area: counter;
    height: 60px;
    width: 60px;
    margin-left: 80%;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}
/*#endregion */

/*#region Почему именно мы*/
#delivery {
    position: absolute;
    top: 1516px;
}

span.line {
    grid-area: line;
    height: 160px;
    margin-top: 170px;
    padding-left: 7%;
    display: grid;
    grid-template-columns: 458px auto;
    grid-template-areas:
        'why linetag';
}

.name_zone {
    grid-area: why;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 83.19%;
    width: 458px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

b.tagline {
    grid-area: linetag;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 85px;
    line-height: 83.19%;
    color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}

div.crop {
    grid-area: why;
    height: 566px;
    overflow: hidden;
}

img.backgroug {
    margin-top: -500px;
    opacity: 0.03;
}

div.why_grid {
    grid-area: why;
    display: grid;
    place-items: center;
    grid-template-areas:
        'meat constr eco';
}

div.box_why {
    height: 231px;
    width: 300px;
    text-align: center;
}
p.why_name {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 10px;
}
img.icon_why{
    display: flex;
    top: -44px;
    left: -50px;
    position: absolute;
}
/*#endregion */

/*#region Меню*/

/*#endregion */

/*#region о доставке*/
div.about_delivery {
    grid-area: about_delivery;
    display: grid;
    place-items: left;
    grid-template-areas:
        'about about'
        'map_inf map_inf';
}
div.background_delivery {
    grid-area: map_inf;
    display: grid;
    place-items: left;
    grid-template-columns: 850px auto;
    grid-template-rows: 700px;
    grid-template-areas:
        'map inf';
    background: rgba(217, 217, 217, 0.06);
    transform: scaleY(0.9);
}

img.map {
    transform: scaleX(0.9);
    margin-left: -50px;
    height: 700px;
    padding-left: 135px;
}

b.delivery_name_zone {
    grid-area: about;
}

div.delivery_inf_block {
    grid-area: inf;
    display: grid;
    grid-template-areas:
        'free free'
        'adres times';
}

b.free_delivery {
    grid-area: free;
    text-decoration: underline;
    font-weight: 600;
    font-size: 36px;
    align-self: center;
}

p.where_delivery {
    margin: 0;
    font-size: 20px;
}

b.where_delivery {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 80px;
}

p.times {
    align-self: center;
    text-align: center;
    width: 150px;
}
/*#endregion */

/*#region о нас*/
div.about_us {
    grid-area: about_us;
    display: grid;
    align-items: center;
    grid-template-areas:
        'about'
        'description'
        'contact_icons'
        'contact_phone'
        'tagline_down';
}

b.us_name_zone {
    grid-area: about;
}

b.us_description {
    grid-area: description;
    width: 1000px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    justify-self: center;
}

div.contact_icons {
    grid-area: contact_icons;
    justify-self: center;
    margin-top: 50px;
    z-index: 2;
}

img.contact_icons {
    height: 50px;
    transition: .3s linear;
}

img.contact_icons:hover {
    transform: scale(0.8);
    transition: .3s linear;
}

b.contact_phone {
    grid-area: contact_phone;
    z-index: 2;
    width: 100%;
    text-align: center;
}

div.tagline_down {
    grid-area: tagline_down;
    width: auto;
    font-weight: 700;
    font-size: 200px;
    margin-top: 100px;
    justify-self: center;
    display: grid;
    grid-template-areas: 'burger juicy';
    grid-template-rows: 400px;
    grid-template-columns: 730px 730px;
    margin-left: 0;
}

p.burgerhub_down {
    grid-area: burger;
    margin-top: 0;
    transform: scale3d(0.7,2.5,1);
    z-index: 1;
    height: fit-content;
    place-self: center;
}

p.juicygrub_down {
    grid-area: juicy;
    margin-top: 60px;
    transform: scale3d(0.7,2.5,1);
    height: fit-content;
    place-self: center;
    margin-top: 202px;
}

#about {
    position: absolute;
    top: 2300px;
}
/*#endregion*/