div.desc_Black_classic {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 200px 200px;
    grid-template-areas: 'burger_name burger_photo'
                         'burger_desc burger_photo';
    left: 108px;
    top: 230px;
    color: #FFFFFF;
    font-family: 'Roboto';
    align-items: center;
    margin-top: 15%;
}

span.name {
    grid-area: burger_name;
    font-weight: 500;
    font-size: 64px;
    line-height: 53px;
}

span.desc {
    grid-area: burger_desc;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

img.home_img {
    grid-area: burger_photo;
    height: 622px;
    width: 579px;
    align-items: end;
}
