div.home {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px;
    grid-template-areas:
        'burger_name burger_photo'
        'burger_desc burger_photo'
        'button counter'
        'line line'
        'why why'
        'about_delivery about_delivery';
    align-items: center;
    margin-top: 12%;
}

/*#region Фон*/
span.glow_p {
    grid-area: burger_desc;
    height: 320px;
    width: 320px;
    background-color: #A82E86;
    border-radius: 50%;
    place-items: center;
    filter: blur(200px) opacity(50%);
    z-index: -1;
    margin-top: 300px;
    margin-left: 529px;
}

span.glow_o {
    grid-area: burger_name;
    height: 220px;
    width: 220px;
    background-color: #FF710B;
    border-radius: 50%;
    place-items: center;
    filter: blur(100px) opacity(50%);
    z-index: -1;
}

span.glow_w {
    grid-area: burger_photo;
    height: 420px;
    width: 420px;
    background-color: white;
    border-radius: 50%;
    place-items: center;
    filter: blur(85px) opacity(50%);
    margin-left: 129px;
    z-index:-1;
}

span.delivery1 {
    position: absolute;
    width: 327px;
    height: 244px;
    left: 871px;
    top: 1717px;
    background: rgba(219, 0, 255, 0.56);
}

span.delivery2 {
    position: absolute;
    width: 327px;
    height: 244px;
    left: 871px;
    top: 1717px;
    background: rgba(239, 100, 0, 0.32);
}

span.delivery3 {
    position: absolute;
    width: 635px;
    height: 589px;
    left: 456px;
    top: 1977px;
    background: rgb(161, 255, 0, 0.06);
}
/*#endregion */

/*#region Бургеры*/
span.name {
    grid-area: burger_name;
    font-weight: 500;
    font-size: 64px;
    line-height: 53px;
}

span.desc {
    grid-area: burger_desc;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

img.home_img {
    grid-area: burger_photo;
    height: 722px;
    width: 679px;
    padding-top: 150px;
}

div.counter {
    grid-area: counter;
    font-weight: 900;
    color: #FF710B;
    font-size: 40px;
    margin-left: 60%;
    margin-top: 30px;
}

b.counter_curent {
    grid-area: counter;
    color: white;
    font-size: 64px;
}

button.arr_left_right {
    grid-area: counter;
    height: 60px;
    width: 60px;
    margin-left: 80%;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}
/*#endregion */

/*#region Общие фичи*/
b {
    font-weight: 400;
}
.more_inf {
    grid-area: button;
    background-color: transparent;
    border: 2px solid #FF710B;
    border-radius: 66px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    width: 216px;
    height: 80px;
    margin-top: 30px;
    transition: .3s linear;
}

.more_inf:hover {
    background-color: rgb(255, 113, 11, 0.2);
    transition: .3s linear;
    transform: scale(0.95);
}

.line {
    width: 112%;
    margin-left: -7%;
}

.orange {
    background-color: #FF710B;
}

.glass_box {
    background: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    border-radius: 40px;
}

.name_zone {
    grid-area: why;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 83.19%;
    width: 458px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.mg-b0{
    margin-bottom: 0;
}
/*#endregion */

/*#region Почему именно мы*/
span.line {
    grid-area: line;
    height: 160px;
    margin-top: 170px;
    padding-left: 7%;
    display: grid;
    grid-template-columns: 458px auto;
    grid-template-areas:
        'why linetag';
}

b.tagline {
    grid-area: linetag;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 85px;
    line-height: 83.19%;
    color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}

div.crop {
    grid-area: why;
    height: 566px;
    overflow: hidden;
}

img.backgroug {
    margin-top: -500px;
    opacity: 0.03;
}

div.why_grid {
    grid-area: why;
    display: grid;
    place-items: center;
    grid-template-areas:
        'meat constr eco';
}

div.box_why {
    height: 231px;
    width: 300px;
    text-align: center;
}
p.why_name {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 10px;
}
img.icon_why{
    display: flex;
    top: -44px;
    left: -50px;
    position: absolute;
}
/*#endregion */

/*#region Меню*/

/*#endregion */

/*#region о доставке*/
div.about_delivery {
    grid-area: about_delivery;
    display: grid;
    place-items: left;
    grid-template-areas:
        'about about'
        'map_inf map_inf';
}
div.background_delivery {
    grid-area: map_inf;
    display: grid;
    place-items: left;
    grid-template-areas:
        'map inf';
    background: rgba(217, 217, 217, 0.06);
}
b.delivery_name_zone {
    grid-area: about;
}

div.delivery_inf_block {
    grid-area: inf;
    display: grid;
    grid-template-areas:
        'free free'
        'adres times';
}

b.free_delivery {
    grid-area: free;
    text-decoration: underline;
    font-weight: 600;
    font-size: 36px;
    align-self: center;
}

p.where_delivery{
    margin: 0;
}

b.where_delivery {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 80px;
}

div.times {
    align-self: center;
    text-align: center;
}
/*#endregion */
