.roboto {
    color: white;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
}

html {
    background: #141414;
    position: relative;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(37, 37, 38);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FF710B;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(37, 37, 38);
}

::selection {
    background-color: #ff710bb0;
    color: black;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#home{
    position:absolute;
    top:0;
}

#menu {
    position: absolute;
    top: 1560px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
a.menu_ref:hover {
    color: #FF710B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FF710B;
    transform: scale(1.2);
    transition: .3s linear;
}
a.menu_ref {
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #FF710B;
    text-decoration: none;
    padding: 20px 25px;
    transition: .3s linear;
}
div.menu {
    display: grid;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10.2px);
}
div.container {
    margin-top: 100px;
    margin-left: 100px;
}
b.lable_hub {
    color: #FF710B;
}
a.lable {
    color: white;
}
a.lable, b.lable_hub {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
}
div.lable_block {
    position: absolute;
    height: 56px;
    left: 108px;
    right: 79.9%;
    top: 10%;
    place-items: center;
    display:inherit;
}

div.menu_block {
    position: absolute;
    width: max-content;
    height: 70px;
    display: grid;
    place-self: center;
    place-items: center;
    grid-template-columns: repeat(6, auto);
}
button.icon_user {
    background-color: transparent;
    border: none;
    position: fixed;
    left: 92%;
}
a.icon_shop{
    position:fixed;
    left: 90%;
}
img.menu_icon {
    place-items: center;
    padding-top: 10px;
    filter: grayscale(1) brightness(5);
    transition: .3s linear;
}
img.menu_icon:hover {
    filter: opacity(2);
    transform: scale(1.2);
    transition: .3s linear;
}

#login_window {
    display: grid;
    position: fixed;
    width: 457px;
    height: 562px;
    left: calc(50% - 457px/2 - 0.5px);
    top: 100px;
    background: rgba(217, 217, 217, 0.19);
    border-radius: 80px;
    z-index: 11;
    align-items: center;
    grid-template-areas:
        'head'
        'email'
        'password'
        'forget'
        'confirm'
        'registration';
    grid-template-rows: 150px 100px 100px 50px 80px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear, visibility 0s linear 1s;
}

#login_window.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.login_field {
    display: grid;
    place-self: center;
    width: 390px;
    height: 77px;
    background: rgba(255, 255, 255, 0.79);
    border-radius: 40px;
}

.login_button {
    width: 174px;
    height: 77px;
    background: rgba(255, 255, 255, 0.79);
    border-radius: 40px;
    font-weight: 500;
    font-size: 32px;
    color: #4E4E4E;
    transition: .3s linear;
}

.login_button:hover{
    transform: scale(0.9);
    opacity: 0.6;
    transition: .3s linear;
}

a{
    text-decoration: none;
}

button{
    text-decoration: none;
    background-color: transparent;
    border: none;
}

a.login_reg {
    justify-self: center;
    align-self: start;
}

button.login_reg {
    justify-self: center;
    align-self: start;
    width: 150px;
}

.login_window_head{
    display: grid;
    grid-template-areas: 'exit icon';
    grid-template-columns: 100px;
    width: 350px;
}

button.left_arr {
    height: 50px;
    width: 50px;
    place-self: center;
    transition: .3s linear;
}

button.left_arr:hover {
    transform: scale(0.9);
    filter: brightness(0.8);
    transition: .3s linear;
}

img.login_icon {
    place-self: center;
    width: 80px;
    height: 80px;
    filter: grayscale(1) brightness(5);
}

input, input:focus-visible {
    place-self: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 24px;
    color: #4E4E4E;
    text-align: center;
}

#backdrop, #backdrop_err {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, 0.50);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear, visibility 0s linear 1s;
}

#backdrop_err{
    z-index: 99;
}

#backdrop.open, #backdrop_err.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

body.modal-open {
    overflow: hidden;
}

#Error_1.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
