<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurgerHUB</title>

    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/index_burger_blocks.js" asp-append-version="true"></script>
<script src="~/js/requests.js" asp-append-version="true"></script>
<script src="~/js/profile.js" asp-append-version="true"></script>

<body>
    <span id="backdrop"></span>
    <span id="backdrop_err"></span>

    <header>
        <nav>
            <div class="menu">
                <div class="lable_block"><a href="Index#home" class="lable roboto">Burger<b class="lable_hub roboto">HUB</b></a></div>
                <div class="menu_block">
                    <a href="Index#menu" class="menu_ref roboto">Меню</a>
		            <a href="constructor" class="menu_ref roboto">Конструктор</a>
		            <a href="Index#delivery" class="menu_ref roboto">Доставка</a>
                    <a href="Index#about" class="menu_ref roboto">О нас</a>
                    <button onclick="user_profile();" class="icon_shop"><img class="menu_icon" src="~/icons/ShoppingBag_hover.png" /></button>
                    <button onclick="user_profile();" class="icon_user pd25"><img class="menu_icon" src="~/icons/User_hover.png"/></button>
                </div>
            </div>
        </nav>
    </header>

    <!--#region вход в профиль -->
    <form id="login_window" class="glass_box" method="post" onsubmit="submitForm(event)" onclose="closeModal(login_window);">
        <div class="login_window_head">
            <button class="left_arr" onclick="closeModal('login_window');"><img src="~/icons/arr_left.png"/></button>
            <img class="icon_user login_icon" src="~/icons/User_hover_.png"/>
        </div>
        <div class="login_field attention_non">
            <input type="email" placeholder="email@email.ru"/>
        </div>
        <div class="login_field attention_non">
            <input type="password" placeholder="пароль" />
        </div>
        <button onclick="openModal('Error_1', 1);" type="button" class="login_reg"><b class="underline roboto">Забыли пароль?</b></button>
        <input class="login_button" type="submit" value="Вход"/>
        <button onclick="openModal('reg_window', 1);" type="button" class="login_reg"><b class="underline roboto">Зарегестрироваться</b></button>
    </form>
    <!--#endregion -->

    <!--#region регистрация -->
    <form id="reg_window" class="glass_box" method="post" onsubmit="submitForm_reg(event)" onclose="closeModal(login_window);">
        <div class="login_window_head">
            <button class="left_arr" onclick="closeModal('reg_window',1);"><img src="~/icons/arr_left.png"/></button>
        </div>

        <div class="login_field reg_filed attention_non">
            <input type="text" placeholder="Иванов"/>
        </div>
        <div class="login_field reg_filed attention_non">
            <input type="text" placeholder="Иван"/>
        </div>
        <div class="login_field reg_filed attention_non">
            <input type="text" placeholder="Иванович"/>
        </div>
        <div class="login_field reg_filed attention_non">
            <input type="email" placeholder="email@email.ru"/>
        </div>
        <div class="login_field reg_filed attention_non">
            <input type="tel" placeholder="+79773039529"/>
        </div>
        <div class="login_field reg_filed attention_non">
            <input type="text" placeholder="г.Москва ул. Ленина д. 1 кв. 7"/>
        </div>

        <input class="login_button" style="width: auto;" type="submit" value="Подтвердить"/>
    </form>
    <!--#endregion -->

    <!--#region ошибка -->
        <div id="Error_1" class="Error glass_box">
            <p class="Error_text roboto">Хмммм...</p>
            <b class="Error_desc roboto">
                Так как у сайта нет домена, то и нет возможности подключить 
                SMTP клиент для отправки сообщений, как следствие, нет возможности
                реализовать надежную проедуру восстановления пароля...
            </b>
            <button class="base_button" onclick="closeModal('Error_1', 1);">Ок</button>
        </div>
    <!--#endregion -->

    <div class="container">
        <main role="main"">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
